<div class="home-box" fxFill fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90" fxFill fxLayout="column">

    <div class="taste-box" fxLayout="column" fxFlex="70" fxFlexOffset="5">

<mat-grid-list fxShow fxHide.lt-sm cols="4" rowHeight="100px">
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    [style.background]="'blue'">
    Bild
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    [style.background]="'blue'">
    Der Pfad des friedvollen Kriegers
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="3"
    [style.background]="'blue'">
    Der junge College-Student Dan trifft eines Nachts in einer Tankstelle auf einen seltsamen alten Mann. Dieser Mann, den Dan "Sokrates" nennt, verfügt über wundersame Fähigkeiten und nimmt sich seiner als Lehrmeister an. Sokrates führt Dan auf den sogenannten "Pfad des friedvollen Kriegers", eine innere Reise in die Tiefe seines Herzens. Es ist ein beschwerlicher Weg, an dessen Ende aber ein zufriedenes und erfülltes Leben wartet.
  </mat-grid-tile>


  <mat-grid-tile
    [colspan]="2"
    [rowspan]="2"
    [style.background]="'blue'">
    Autor blabla
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="2"
    [rowspan]="1"
    [style.background]="'blue'">
    Hashtags
  </mat-grid-tile>

  <mat-grid-tile
    [colspan]="4"
    [rowspan]="1"
    [style.background]="'blue'">
    Available on
  </mat-grid-tile>

</mat-grid-list>


      <mat-grid-list fxHide fxShow.lt-sm  cols="1" rowHeight="50px">
        <mat-grid-tile

          [rowspan]="1"
          [style.background]="'blue'">
          dasds
        </mat-grid-tile>

        <mat-grid-tile

          [rowspan]="1"
          [style.background]="'blue'">
          Der Pfad des friedvollen Kriegers
        </mat-grid-tile>

        <mat-grid-tile

          [rowspan]="4"
          [style.background]="'blue'">
          Der junge College-Student Dan trifft eines Nachts in einer Tankstelle auf einen seltsamen alten Mann. Dieser Mann, den Dan "Sokrates" nennt, verfügt über wundersame Fähigkeiten und nimmt sich seiner als Lehrmeister an. Sokrates führt Dan auf den sogenannten "Pfad des friedvollen Kriegers", eine innere Reise in die Tiefe seines Herzens. Es ist ein beschwerlicher Weg, an dessen Ende aber ein zufriedenes und erfülltes Leben wartet.
        </mat-grid-tile>


        <mat-grid-tile

          [rowspan]="2"
          [style.background]="'blue'">
          Autor blabla
        </mat-grid-tile>

        <mat-grid-tile

          [rowspan]="1"
          [style.background]="'blue'">
          Hashtags
        </mat-grid-tile>

        <mat-grid-tile

          [rowspan]="1"
          [style.background]="'blue'">
          Available on
        </mat-grid-tile>

      </mat-grid-list>




    </div>



  </div>
