.taste-box{
  height: 100%;
  width: 100%;
 background-color: chocolate;
  border-radius: 8px;
  color: white;
  font-family: 'Lato';
  font-size: 48px;
}
.home-box{
  background-color: rgb(236,236,239);;
  height: 100%;
}

.titlecategorie{
  font-family: 'Lato';
  font-size: 30px;
}

.cardlayout {
  max-width: 300px;
  border-radius: 3%;
}

.mat-header{
  color: white;
  font-family: 'Lato';
  font-size: 40px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  transition: .5s ease;
  background-color: rgb(0,0,0);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-span{
  flex: 1 1 auto;
}


.font1{
  font-family: 'Open Sans' !important;
  font-weight: bold;
  font-size: 12px !important;
}

.font2{
  font-family: 'Open Sans' !important;
  font-size: 10px;
}

.font3{
  font-family: 'Open Sans' !important;
  font-weight: bold;
  font-size: 35px !important;
}


.font4{
  font-family: 'Lora', serif;
  font-size: 18px !important;
}

.wrapper {
  position: absolute;
  width: 100px;
  height:100px;
  margin-left: 5px;
  margin-top: 5px;
  overflow: hidden;
  border-radius:50%;
  background-color: blue;
}

.wrapper img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.temp{
  height: 0;
}

.demo-card-square.mdl-card {
  width: 370px;
  height: 500px;
  border-radius:1%;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background-color: #2b303b;
}


.img1 {
  display: block;
  max-height:250px;
  width: auto;
  height: auto;
}
