.header-span{
  flex: 1 1 auto;
}

.header{
  background-color: rgb(34,34,34);
  color: white;
}

.mobile_search{
  width: 40px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.mobile_search input#search{
  width: 40px;
  height: 40px;
  padding-top: 0;
  background: #2b303b;
  border: none;
  float: left;
  color: #262626;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
}

.mobile_search input#search::-webkit-input-placeholder {
  color: #65737e;
}

.mobile_search input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.mobile_search input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.mobile_search input#search:-ms-input-placeholder {
  color: #65737e;
}

.mobile_search input#search:focus, .mobile_search input#search:active{
  outline:none;
}

.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-3 input#search{
  width: 250px;
  height: 40px;
  padding-top: 0;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
}

.container-3 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-3 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.container-3 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.container-3 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-3 input#search:focus, .container-3 input#search:active{
  outline:none;
}

.btn_rounded{
  border-radius: 50%;
}

.global{
  width: 100%;
  height: 100%;
}
