<div class="home-box" fxFill fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxFill fxLayout="column">

    <div fxFlex="30" fxFlexOffset="2">

      <div class="taste-box" fxLayout="row">


        <div fxLayoutAlign="left" class="wrapper">

        </div>

      </div>
    </div>


    <div fxFlexOffset="2" class="titlecategorie">Featured Categories</div>

    <div fxFlexOffset="3" fxLayout="row" fxLayoutAlign="center">


      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div  fxLayoutAlign="center center" fxLayout="column" class="mdl-card__title mdl-card--expand">
          <div class="font3">#GetThingsDone</div>

          <div class="font4" fxFlexOffset="1">“Your mind is for having ideas, not holding them." -@DavidAllen</div>
          <button fxFlexOffset="1" mat-raised-button color="accent">Follow</button>
        </div>

        <div class="mdl-card__supporting-text">
          <div fxLayout="row">
            <div class="font1">TOP AUDIO BOOKS</div>
            <span class="header-span"></span>
            <div class="font2">See more</div>
          </div>
        </div>
        <div fxLayout="column" class="mdl-card__actions mdl-card--border">

          <div fxFlexOffset="2" fxLayout="row">

              <img class="img1" routerLink="bookdetail" fxFlex="20" src="https://images.booklooker.de/x/9783778773192/Dan-Millman+Der-Pfad-des-friedvollen-Kriegers.jpg" alt=""/>

            <div fxFlexOffset="2" fxLayout="column" fxFlex="60">
              <div class="font1">Der Pfad des friedvollen Kriegers</div>
              <div class="font2">DanMillman</div>
            </div>

            <button fxFlex="20" mat-icon-button>
              <mat-icon>favorite</mat-icon>
            </button>

          </div>

          <div fxFlexOffset="2" fxLayout="row">

            <img class="img1" fxFlex="20" src="https://images.booklooker.de/x/9783778773192/Dan-Millman+Der-Pfad-des-friedvollen-Kriegers.jpg" alt=""/>

            <div fxFlexOffset="2" fxLayout="column" fxFlex="60">
              <div class="font1">Der Pfad des friedvollen Kriegers</div>
              <span class="w3-badge w3-jumbo w3-red">66</span>
              <div class="font2">DanMillman</div>
            </div>

            <button fxFlex="20" mat-icon-button>
              <mat-icon>favorite</mat-icon>
            </button>

          </div>

          <div fxFlexOffset="2" fxLayout="row">

            <img class="img1" fxFlex="20" src="https://images.booklooker.de/x/9783778773192/Dan-Millman+Der-Pfad-des-friedvollen-Kriegers.jpg" alt=""/>

            <div fxFlexOffset="2" fxLayout="column" fxFlex="60">
              <div class="font1">Der Pfad des friedvollen Kriegers</div>
              <div class="font2">DanMillman</div>
            </div>

            <button fxFlex="20" mat-icon-button>
              <mat-icon>favorite</mat-icon>
            </button>

          </div>

        </div>
      </div>

    </div>


  </div>
</div>
