<div class="home-box" fxFill fxLayout="row" fxLayoutAlign="center center">
<div fxFlex="90" fxFill  fxLayout="column">
  <div fxFlex="30" fxFlexOffset="2" fxLayout="row" fxLayoutAlign="center center">
    <div class="taste-box" fxLayout="column" fxLayoutAlign="center center">
    <div>You got a great taste.</div>
    <div>Recommendations based on your tasta</div>
    <div>Calculate now</div>
    </div>
  </div>


  <div fxFlexOffset="2" class="titlecategorie">Features Categories</div>

  <div fxLayout="row" fxLayoutAlign="center">




    <mat-card class="example-card">
      <mat-card-header class="mat-header">
        <mat-card-title>#Freizeit</mat-card-title>
        <mat-card-subtitle>Alles was mit Freizeit zu tun hat.</mat-card-subtitle>
      </mat-card-header>
      Top Audio Books
      <mat-card-content fxLayout="column">
        <div>Calculate now</div>
        <div>Calculate now</div>
        <div>Calculate now</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


    <button fxFlex="33%" mat-button>My Button</button>
    <button fxFlex="33%" mat-button>My Button</button>
  </div>







</div>
</div>
